@font-face {
    font-family: 'RadioAM';
    src: url("/fonts/RadioAmFont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PublicoHeadline-Roman';
    src: url("/fonts/PublicoHeadline-Roman.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd-Bold';
    src: url("/fonts/FuturaStd-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaStd-Medium';
    src: url("/fonts/FuturaStd-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url("/fonts/Century-Gothic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edwardian Script ITC';
    src: url("/fonts/EdwardianScriptITC.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Microsoft Himalaya';
    src: url("/fonts/himalaya.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
