
  /* Centered texts in each section
  * --------------------------------------- */
  .section{
    text-align:center;
  }

  /* Fixed header and footer.
  * --------------------------------------- */
  #header {
    white-space: nowrap;
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #D4FFEA;
    z-index:9;
    top:0px;
    a {
        color: black;
        font-family: "PublicoHeadline-Roman", Times, serif;
        font-size: 16px*@m;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px*@m;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        outline: 0;
    }
  }
.section-wrapper{
  padding-top: 100px*@m;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-container {
  margin: 0 0 0 0;
  text-align: center;
}
.navbar {
  height: 50px;
  .navbar-item {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    margin-left: 10px*@m;
    margin-right: 10px*@m;
  }
}
.section.remove-vertical-align {
  .fp-tableCell {
    vertical-align: baseline;
    padding-top: 80px*@m;
  }
}
.section {
  background-size: cover;
  background-attachment: fixed;
}

.title {
    h1 {
      text-transform: uppercase;
      font-family: "Playfair Display", serif;
      font-size: 46px*@m;
      line-height: 50px*@m;
      transform: rotate(0);
      text-shadow: 1px*@m 1px*@m 4px*@m gray;
      letter-spacing: 8px*@m;
      font-weight: normal;
    }
}
.ui-widget-overlay {
  background: black !important;
}

body {
  -webkit-font-smoothing: antialiased;
  font: (14px*@m)/(21px*@m) "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;  
  hr {
    width: 200px;
  }
}

// to prevent select2 padding with error msg that we hide
.select2-results__options .select2-results__message {
  display: none;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 187, 187, .75sc);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}
