.section.people {
  .names {
    margin-top: 10px;
  }
  .hr {
    margin-top: 150px;
    margin-bottom: 75px;
  }
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 49px;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 40px;
    font-weight: normal;
  }
  h3 {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: normal;
  }
  p {
    font-family: 'Playfair Display', serif;
    font-size: 22.4px; 
    letter-spacing: 1px;
    line-height: 33.6px; 
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .people {
    margin-bottom: 100px;
    .name {
      //font-family: 'Edwardian Script ITC';
      font-family: 'Helvetica';
      font-size: 20px; 
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 4px;
      clear: both;
    }
  }
  .couple {
    margin-top: 100px;
  }
  .poem {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 1366px;
    div {
      float: left;
      &.verse {
        width: 470px;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        p {
          font-family: "Edwardian Script ITC";
          font-size: 35px;
          letter-spacing: 1px;
          font-weight: normal;
          width: 100%;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 15px;
          margin-top: 0;
          &.quote-author {
            margin-top: 79px;
          }
        }
      }
      &.tree {
        width: 300px;
      }
    }
  }
  .picture img {
    height: 280px;
    width: 200px;
  }
  .image-row {
    min-width: 800px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
