.section.place {
  .section-wrapper {
    padding-top: 50px*@m;
  }
  .address {
    h1 {
      font-family: "Microsoft Himalaya", sans-serif;
      font-size: 45px*@m;
      text-transform: uppercase;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
    }
    h3 {
      font-family: "Microsoft Himalaya", sans-serif;
      font-size: 30px*@m;
      text-transform: uppercase;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
    }
  }
  img {
    width: 550px*@m;
  }
}