.section.rsvp {
  .form {
    input{
       text-align:center;
    }
    font-size: 30px*@m;
    font-family: 'Perpetua';
    .form-section {
      margin-top: 50px*@m;
    }
    button {
      margin-top: 60px*@m;
    }
  }
  .select2-selection__rendered {
    height: 31px*@m;
  }
  .select2-selection {
    height: 31px*@m;
  }
  .attend-select {
    width: 600px*@m;
  }
  .name-select {
      width: 550px*@m;
  }
  .wants-date-select {
      width: 500px*@m;
  }
  .thank-you {
    font-size: 30px*@m;
    font-family: 'Perpetua';
    img {
      height: 300px*@m;
      width: 300px*@m;
    }
  }
}