.section.schedule {
  .words {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
    img {
      float: left;
      width: 90px;
    }
  }
  .timeline {
    width: 800px;
    .event {
      position: relative;
      font-family: 'Perpetua';
      font-size: 20px;
      img {
        height: 100px;
        width: 100px;
      }
      &.cocktail img {
        height: 100px;
        width: 70px;
      }
      .line {
        margin-top: 10px;
        width: 100%;
        border-top: 1px solid black;
      }
      .vtick {
        width: 1px;
        height: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 0;
        border-left: 1px solid black;
      }
      .event-title {
        margin-top: 14px;
      }
    } 
    margin-left: auto;
    margin-right: auto;
  }
  .words {
    img {
      margin-right: 25px;
    }
    font-family: 'Microsoft Himalaya';
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: justify;
    p:first-of-type {
      padding-top: 20px;
    }
    p:last-of-type {
      margin: 0;
    }
  }
}
